html,
body,
#root {
  background-color: var(--mainBackground);
  color: var(--mainText);
  font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: 'Nunito', sans-serif;
}
