body {
  /* Background */
  --mainBackground: #f9f9f9;
  --secondaryBackground: #b09202;
  --dangerBackground: #ffc5c5;
  /* Border */
  --lightGreyBorder: #c7c7c7;
  /* Links */
  --mainLink: #5d5fef;
  /* Text */
  --mainText: #09090b;
  --secondaryText: #6b5700;
  --lightText: #ffffff;
  --dangerText: #a30000;
  --successText: #1d7a00;
}

